@import '../../../../Utils/master';

@mixin menu-size($height, $margin, $padding, $anim, $time) {
	background-color: black;
  padding-left: 24px;
	position: fixed;
	top: 0;
	width: 100%;
	height: $height;
	box-shadow: 0 2px 2px #9e9e9e;
	z-index: 1;
  display: none;
  animation-name: $anim;
	animation-duration: $time;

  ul {
    margin-top: $margin;

    li {
      padding: $padding;

      a {
        font-size: 1.25rem;
        font-weight: bold;
        font-family: Comfortaa, Verdana, sans-serif;
        color: $lighter-pink;
        animation-name: appear;
	      animation-duration: 0.6s;
      }
    }
  }
}

.mobile-menu {
  // small phones
  @include menu-size(226px, 56px, 24px 0 0 5px, drop-down-sm-phone, 0.2s);
  
  // medium and large phones
  @media screen and (min-width: 353px) {
    @include menu-size(264px, 60px, 28px 0 0 8px, drop-down-lg-phone, 0.2s);
  }

  // small tablets
  @media screen and (min-width: 601px) {
    @include menu-size(348px, 72px, 40px 0 0 28px, drop-down-sm-tablet, 0.25s);
  }

  // medium tablets
  @media screen and (min-width: 786px) {
    @include menu-size(396px, 80px, 50px 0 0 40px, drop-down-med-tablet, 0.25s);
  }

  // large tablets
  @media screen and (min-width: 937px) {
    @include menu-size(420px, 90px, 50px 0 0 56px, drop-down-bigger-med-tablet, 0.25s);
  }

  // never show mobile menu on non-mobile screens
  @media screen and (min-width: 993px) {
    display: none;
  }

  // used to hide/show mobile nav menu
  &.visible {
    display: block;
  }
}

.burger {
  position: fixed;
  top: 2.5vh;
  left: 6vw;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;

  i {
    color: $dark-pink;
  }

  &:focus {
    background-color: transparent;
  }
}

// have mobile nav menu slide
// down from top on open
@keyframes drop-down-sm-phone {
	from {height: 0px;}
	to {height: 226px;}
}

@keyframes drop-down-lg-phone {
	from {height: 0px;}
	to {height: 264px;}
}

@keyframes drop-down-sm-tablet {
	from {height: 0px;}
	to {height: 348px;}
}

@keyframes drop-down-med-tablet {
	from {height: 0px;}
	to {height: 396px;}
}

@keyframes drop-down-bigger-med-tablet {
	from {height: 0px;}
	to {height: 420px;}
}

// prevent pop-in for links
// in mobile nav menu
@keyframes appear {
	from {opacity: 0;}
	to {opacity: 1;}
}
