header {
  background: url('../../assets/images/punchcard_banner_mobile_400.jpg');
  -webkit-background-size: auto;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 212px;
}
