$old-paper: #f0f0e3;
$lightest-grey: #bdbdbd;
$light-grey: #7e7e7e;
$med-grey: #9e9e9e;
$dark-grey: #212121;
$darker-grey: #1a1a1a;
$dark-pink: #ad1457;
$darker-pink: #880e4f;
$lighter-pink: #c2185b;
