body {
  margin: 0;
  padding: 0;
  background: #f0f0e3;
	font-family: Quicksand, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {
  padding-top: 4vw;
	padding-bottom: 4vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
